@using Microsoft.AspNetCore.Identity
@inject SignInManager<BeFit.Web.Models.AppUser> SignInManager
@inject UserManager<BeFit.Web.Models.AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <span>@User.Identity!.Name</span>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Log in</a>
    </li>
}
</ul>
